@font-face {
    font-family: 'main';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
    font-weight: 400 600 700;
}
:root{
    --green:hsl(75, 94%, 57%);
    --white:hsl(0, 0%, 100%);
    --grey-700:hsl(0, 0%, 20%);
    --grey-800:hsl(0, 0%, 12%);
    --grey-900:hsl(0, 0%, 8%);
    --paragraphe-fz:14px;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
/*=======================================*/
body{
    background-color: var(--grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'main';
    padding: 44px 0;
    height: 100vh;
}
main{
    background-color: var(--grey-800);
    width:386px;
    height: 620px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
    border-radius: 10px;
}
.infos,.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.infos{
    align-items: center;
    color: var(--white);
    gap: 1.5rem;
}
.logo img{
    width: 92px;
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
}
.name{
    font-size: 1.5rem;
    font-weight: 600;
}
.adress{
    color: var(--green);
    font-size: 14px;
    font-weight: 600;
}
.bio{
    font-size: var(--paragraphe-fz);
    font-weight: 300;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-700);
    color: white;
    height: 2.8rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
}
.link:hover{
    background-color: var(--green);
    color: var(--grey-800);
    font-weight: 600;
    cursor: pointer;
}
@media screen and (max-width:1100px) {
    body{
        height: auto;
        padding: 44px 1rem;
    }
}